<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores saepe, placeat, officiis corporis dicta animi qui, sunt debitis harum totam similique quis tempore! Culpa quam ipsa tempora hic fugiat perferendis?
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
</ion-content>
